/* Global styles */

/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
}

/* Define root variables for consistent styling */
:root {
  font-size: 16px;
  --primary-padding: 1rem;
  --secondary-padding: 10px;
  --secondary-padding: 0.5rem;
  --primary-font-family: 'Archivo', sans-serif;
  --primary-color: #8b9fbb;                                  
  --secondary-color: #0b0c0d;
  --ternary-color: #303030;
  --shadow-color: #58687f;
  --card-color: #bbb29a;
  --text-color: #E7E6E4;
  --primary-shadow: 6px 6px 0 var(--secondary-color);
  --secondary-shadow: 4px 4px 0 var(--shadow-color);
  --primary-border: 4px solid;
  --primary-radius: 6px;
}

/* Body styles */

/* Reset default margin and padding for body */
body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  margin: 0;
  padding: var(--primary-padding);
  background-color: var(--primary-color);

}

/* Customize scrollbar appearance */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

button{
  padding: calc( 0.5 * --primary-padding) var(--primary-padding);
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  border: none;
  border-radius: var(--primary-radius);
  box-shadow: var(--secondary-shadow);
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translateX(3px) translateY(3px);
}

/* Header section styles */

/* Header frame layout */
.header-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Create button styling */
.create-task-button {
  outline: none;
  padding: 8px var(--primary-padding);
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  border: none;
  border-radius: var(--primary-radius);
  cursor: pointer;
}

/* Page title styling */
.page-title {
  font-size: 1.75rem;
  font-weight: bold;
}

/* Body section styles */

/* Task frame styling */
.task-frame {
  padding: var(--primary-padding);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border: 4px solid var(--secondary-color);
  border-radius: var(--primary-radius);
  box-shadow: 6px 6px 0 var(--shadow-color);
}

/* Task card styling */
.task-card {
  padding: 6px 12px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  border: 4px solid var(--secondary-color);
  background-color: var(--card-color);
  border-radius: var(--primary-radius);
  box-shadow: 4px 4px 0 var(--secondary-color);
}

/* Task card header styling */
.task-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--secondary-color);
}

/* Task title styling */
.task-title {
  font-size: 1.25rem;
}

/* Edit button styling */
.edit-button {
  padding: 0;
  background: none;
  font-size: 2rem;
  color: var(--secondary-text-color);
  transition: 50ms ease-in-out;
  border: none;
  box-shadow: none;
}

.edit-button:active{
  transform: scale(0.9);
}

/* Task card body styling */
.task-card-body {
  max-height: 120px;
  padding: 0px 8px;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* Task card footer styling */
.task-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

/* Task checkbox wrapper styling */
.task-checkbox-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;
}

/* Task checkbox input styling */
.task-checkbox-input {
  width: 14px;
  height: 14px;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  background-color: var(--card-color);
  border: 2px solid var(--secondary-color);
  border-radius: none;
  cursor: pointer;
}

.task-checkbox-label{
  font-size: 1.125rem;
}

/* Task checkbox icon styling */
.task-checkbox-input::after {
  display: none;
  content: "\f00c";
  font-family: 'Font Awesome 6 Free';
  font-size: 0.75rem;
  font-weight: 900;
}

/* Show checkbox icon when checked */
.task-checkbox-input:checked::after {
  display: block;
  transition: 100ms ease-in-out;
}

/* Task create date styling */
.task-create-date {
  color: var(--ternary-color);
}

/* Task dialogue modal styles */

/* Position task dialogue at center of screen */
.task-dialogue {
  width: 50%;
  padding: 10px;
  background-color: var(--primary-color);
  transform: translate(50%, 50%);
  transition: 200ms ease-in-out;
  border: var(--primary-border) var(--secondary-color);
  border-radius: var(--primary-radius);
  box-shadow: var(--primary-shadow);
}

.task-dialogue::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal header styling */
.modal-header {
  padding: 18px 18px 10px 18px;
  display: flex;
  justify-content: space-between;
}

/* Add button styling */
.add-button {
  padding: 10px calc(2 * var(--primary-padding));
  transition: 100ms ease-in-out;
}

/* Cancel button styling */
.cancel-button {
  padding: 10px calc(var(--primary-padding) + 5px);
  background-color: #ee273b;
  transition: 100ms ease-in-out;
}

/* Modal body styles */
.modal-body {
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

/* Dialogue task title styling */
.dialogue-task-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Dialogue task title input styling */
.dialogue-task-title-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 1.25rem;
  background-color: var(--text-color);
  font-weight: bold;
  outline: none;
  border: var(--primary-border);
  border-radius: var(--primary-radius);
}

/* Placeholder color for dialogue task title input */
.dialogue-task-title-input::placeholder {
  color: var(--ternary-color);
}

/* Dialogue task description styling */
.dialogue-task-description {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Dialogue task description input styling */
.dialogue-task-description-input {
  width: 100%;
  height: 160px;
  padding: 10px;
  outline: none;
  font-weight: bold;
  background-color: var(--text-color);
  border: var(--primary-border);
  border-radius: var(--primary-radius);
}

/* Placeholder color for dialogue task description input */
.dialogue-task-description-input::placeholder {
  color: var(--ternary-color);
}

/* Media Queries for Responsive Design */

